<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>BTS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>E_DirecteurEtudes_AnneeScolaire</servlet-name>
    <jsp-file>/WEB-INF/E.DirecteurEtudes/AnneeScolaire.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>E_DirecteurEtudes_AnneeScolaire</servlet-name>
    <url-pattern>/E.DirecteurEtudes/AnneeScolaire</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>E_DirecteurEtudes_CyclesFilieresNiveaux</servlet-name>
    <jsp-file>/WEB-INF/E.DirecteurEtudes/CyclesFilieresNiveaux.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>E_DirecteurEtudes_CyclesFilieresNiveaux</servlet-name>
    <url-pattern>/E.DirecteurEtudes/CyclesFilieresNiveaux</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>E_DirecteurEtudes_ClassesGeneriques</servlet-name>
    <jsp-file>/WEB-INF/E.DirecteurEtudes/ClassesGeneriques.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>E_DirecteurEtudes_ClassesGeneriques</servlet-name>
    <url-pattern>/E.DirecteurEtudes/ClassesGeneriques</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>E_DirecteurEtudes_UnitesMatieresModules</servlet-name>
    <jsp-file>/WEB-INF/E.DirecteurEtudes/UnitesMatieresModules.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>E_DirecteurEtudes_UnitesMatieresModules</servlet-name>
    <url-pattern>/E.DirecteurEtudes/UnitesMatieresModules</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>E_DirecteurEtudes_Evaluations</servlet-name>
    <jsp-file>/WEB-INF/E.DirecteurEtudes/Evaluations.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>E_DirecteurEtudes_Evaluations</servlet-name>
    <url-pattern>/E.DirecteurEtudes/Evaluations</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>E_DirecteurEtudes_Classes</servlet-name>
    <jsp-file>/WEB-INF/E.DirecteurEtudes/Classes.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>E_DirecteurEtudes_Classes</servlet-name>
    <url-pattern>/E.DirecteurEtudes/Classes</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>E_DirecteurEtudes_Etudiants</servlet-name>
    <jsp-file>/WEB-INF/E.DirecteurEtudes/Etudiants.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>E_DirecteurEtudes_Etudiants</servlet-name>
    <url-pattern>/E.DirecteurEtudes/Etudiants</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>E_DirecteurEtudes_ClasseDetails</servlet-name>
    <jsp-file>/WEB-INF/E.DirecteurEtudes/ClasseDetails.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>E_DirecteurEtudes_ClasseDetails</servlet-name>
    <url-pattern>/E.DirecteurEtudes/ClasseDetails</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>E_DirecteurEtudes_ProgrammeClasseGenerique</servlet-name>
    <jsp-file>/WEB-INF/E.DirecteurEtudes/ProgrammeClasseGenerique.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>E_DirecteurEtudes_ProgrammeClasseGenerique</servlet-name>
    <url-pattern>/E.DirecteurEtudes/ProgrammeClasseGenerique</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>E_DirecteurEtudes_Profile</servlet-name>
    <jsp-file>/WEB-INF/E.DirecteurEtudes/Profile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>E_DirecteurEtudes_Profile</servlet-name>
    <url-pattern>/E.DirecteurEtudes/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>E_Professeur_CahierTexte</servlet-name>
  	<jsp-file>/WEB-INF/E.Professeur/CahierTexte.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>E_Professeur_CahierTexte</servlet-name>
  	<url-pattern>/E.Professeur/CahierTexte</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>E_Professeur_Chapitre</servlet-name>
  	<jsp-file>/WEB-INF/E.Professeur/Chapitre.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>E_Professeur_Chapitre</servlet-name>
  	<url-pattern>/E.Professeur/Chapitre</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>E_Professeur_Profile</servlet-name>
  	<jsp-file>/WEB-INF/E.Professeur/Profile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>E_Professeur_Profile</servlet-name>
  	<url-pattern>/E.Professeur/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>E_Professeur_Classe</servlet-name>
  	<jsp-file>/WEB-INF/E.Professeur/Classe.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>E_Professeur_Classe</servlet-name>
  	<url-pattern>/E.Professeur/Classe</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>E_Professeur__ProgrammeClasseGenerique</servlet-name>
  	<jsp-file>/WEB-INF/E.Professeur/ProgrammeClasseGenerique.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>E_Professeur__ProgrammeClasseGenerique</servlet-name>
  	<url-pattern>/E.Professeur/ProgrammeClasseGenerique</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>E_DirecteurEtudes_CahierTexteProfesseur</servlet-name>
  	<jsp-file>/WEB-INF/E.DirecteurEtudes/CahierTexteProfesseur.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>E_DirecteurEtudes_CahierTexteProfesseur</servlet-name>
  	<url-pattern>/E.DirecteurEtudes/CahierTexteProfesseur</url-pattern>
  </servlet-mapping>
  <servlet>
  	
  	<servlet-name>E_DirecteurEtudes_CahierTexteList</servlet-name><jsp-file>/WEB-INF/E.DirecteurEtudes/CahierTexteList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>E_DirecteurEtudes_CahierTexteList</servlet-name>
  	<url-pattern>/E.DirecteurEtudes/CahierTexteList</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>E_DirecteurEtudes_ProfesseurClassesList</servlet-name>
  	<jsp-file>/WEB-INF/E.DirecteurEtudes/ProfesseurClassesList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>E_DirecteurEtudes_ProfesseurClassesList</servlet-name>
  	<url-pattern>/E.DirecteurEtudes/ProfesseurClassesList</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>E_DirecteurEtudes_CahierTexte</servlet-name>
  	<jsp-file>/WEB-INF/E.DirecteurEtudes/CahierTexte.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>E_DirecteurEtudes_CahierTexte</servlet-name>
  	<url-pattern>/E.DirecteurEtudes/CahierTexte</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>E_Professeur__EmploisDuTemps</servlet-name>
  	<jsp-file>/WEB-INF/E.Professeur/EmploisDuTemps.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>E_Professeur__EmploisDuTemps</servlet-name>
  	<url-pattern>/E.Professeur/EmploisDuTemps</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>E_Professeur_TableauService</servlet-name>
    <jsp-file>/WEB-INF/E.Professeur/TableauService.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>E_Professeur_TableauService</servlet-name>
    <url-pattern>/E.Professeur/TableauService</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>E_Inspecteur_Profile</servlet-name>
  	<jsp-file>/WEB-INF/E.Inspecteur/Profile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>E_Inspecteur_Profile</servlet-name>
  	<url-pattern>/E.Inspecteur/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>E_Inspecteur_ProfesseurList</servlet-name>
  	<jsp-file>/WEB-INF/E.Inspecteur/ProfesseurList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>E_Inspecteur_ProfesseurList</servlet-name>
  	<url-pattern>/E.Inspecteur/ProfesseurList</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>E_Inspecteur_CahierTexteList</servlet-name>
  	<jsp-file>/WEB-INF/E.Inspecteur/CahierTexteList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>E_Inspecteur_CahierTexteList</servlet-name>
  	<url-pattern>/E.Inspecteur/CahierTexteList</url-pattern>
  </servlet-mapping>

    <servlet>
  	<servlet-name>E_Inspecteur_CahierTexte</servlet-name>
  	<jsp-file>/WEB-INF/E.Inspecteur/CahierTexte.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>E_Inspecteur_CahierTexte</servlet-name>
  	<url-pattern>/E.Inspecteur/CahierTexte</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>E_Inspecteur_ProfesseurClasse</servlet-name>
  	<jsp-file>/WEB-INF/E.Inspecteur/ProfesseurClasse.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>E_Inspecteur_ProfesseurClasse</servlet-name>
  	<url-pattern>/E.Inspecteur/ProfesseurClasse</url-pattern>
  </servlet-mapping>
</web-app>